StoresInterface/WebContent/wsdl/Stores.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStores">
    <complexType>
     <sequence>
      <element name="ratings" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStoresResponse">
    <complexType>
     <sequence>
      <element name="getStoresReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStoresResponse">

      <wsdl:part element="impl:getStoresResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStoresRequest">

      <wsdl:part element="impl:getStores" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Stores">

      <wsdl:operation name="getStores">

         <wsdl:input message="impl:getStoresRequest" name="getStoresRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStoresResponse" name="getStoresResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StoresSoapBinding" type="impl:Stores">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStores">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStoresRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStoresResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StoresService">

      <wsdl:port binding="impl:StoresSoapBinding" name="Stores">

         <wsdlsoap:address location="http://localhost:8080/GroceryDeliverySystem/services/Stores"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
