GroceryDeliverySystemTest/WebContent/wsdl/Pkgs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPkgs">
    <complexType>
     <sequence>
      <element name="product" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPkgsResponse">
    <complexType>
     <sequence>
      <element name="getPkgsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPkgsResponse">

      <wsdl:part element="impl:getPkgsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPkgsRequest">

      <wsdl:part element="impl:getPkgs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Pkgs">

      <wsdl:operation name="getPkgs">

         <wsdl:input message="impl:getPkgsRequest" name="getPkgsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPkgsResponse" name="getPkgsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PkgsSoapBinding" type="impl:Pkgs">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPkgs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPkgsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPkgsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PkgsService">

      <wsdl:port binding="impl:PkgsSoapBinding" name="Pkgs">

         <wsdlsoap:address location="http://localhost:8080/GroceryDeliverySystemTest/services/Pkgs"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
