GroceryDeliverySystemTest/WebContent/wsdl/PriceItems.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getItems">
    <complexType>
     <sequence>
      <element name="price" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItemsResponse">
    <complexType>
     <sequence>
      <element name="getItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getItemsResponse">

      <wsdl:part element="impl:getItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItemsRequest">

      <wsdl:part element="impl:getItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PriceItems">

      <wsdl:operation name="getItems">

         <wsdl:input message="impl:getItemsRequest" name="getItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getItemsResponse" name="getItemsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PriceItemsSoapBinding" type="impl:PriceItems">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PriceItemsService">

      <wsdl:port binding="impl:PriceItemsSoapBinding" name="PriceItems">

         <wsdlsoap:address location="http://localhost:8080/GroceryDeliverySystemTest/services/PriceItems"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
