GroceryDeliverySystemTest/WebContent/wsdl/RiderDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRiderDetails">
    <complexType>
     <sequence>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRiderDetailsResponse">
    <complexType>
     <sequence>
      <element name="getRiderDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRiderDetailsRequest">

      <wsdl:part element="impl:getRiderDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRiderDetailsResponse">

      <wsdl:part element="impl:getRiderDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RiderDetails">

      <wsdl:operation name="getRiderDetails">

         <wsdl:input message="impl:getRiderDetailsRequest" name="getRiderDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRiderDetailsResponse" name="getRiderDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RiderDetailsSoapBinding" type="impl:RiderDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRiderDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRiderDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRiderDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RiderDetailsService">

      <wsdl:port binding="impl:RiderDetailsSoapBinding" name="RiderDetails">

         <wsdlsoap:address location="http://localhost:8080/GroceryDeliverySystemTest/services/RiderDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
